html{
    font-size: 62.5%;
    font-family: 'Darker Grotesque', sans-serif;
}
body{
    background-image: url(../images/fondo.png);
}

/* REUTILIZABLES */

.no-margin{
    margin: 0;
}

.marginAuto{
    margin: 0 auto;
}




/* CONSTRUCCION PAGE */



.icon-email{
    width: 10rem;
    margin-right: 1rem;
}

.icon-instagram{
    width: 8.5rem;
    margin-left: 1rem;
}

.post-construction{
    display: flex;
    justify-content: center;
}

.content-logo{
    background-image: url(../images/fondo.png);
    width: 50rem;
    margin: 0 auto;
}

@media(max-width:1000px){
    .content-logo{
        width: 35rem;
    }

    .img-construction{
        width: 100%;
    }

    .icon-email{
        width: 5rem;
    }
    
    .icon-instagram{
        width: 4.1rem;
    }
}